
<br>
<div class="comment">
    <p>
        <%= comment.comment %>
    </p>
    <p><small>
        <%= comment.user.email %>
        </small>
    </p>
</div>

<p class="text-info">------------------------------------------------------</p>
