<!-- Jumbotron -->
<div class="jumbotron jumbotron-fluid">
  <div class="container">  
    <div class="main">
      <h1 class="text-center text-info">About Us</h1>
        <p class="text-center">Welcome to For-ummm, a platform empowering developers from all walks of life to
        share their knowledge and life experiences. Make a difference by sharing your
        journey with other aspiring coder newbies or professional developers.</p>
        <h2 class="text-center">Our Vision</h2>
        <p class="text-center"> Connecting and empowering all developers to showcase their talents.</p>
        
        <%= link_to "Join Our Community", new_user_registration_path, class: "btn btn-info btn-lg", type: "button" %>
    </div>
  </div>
</div>